extends ../layout.pug

block content
    .user-content 
        .user-profile
            .user-profile-img
                img#profile-image(src=user.avatar, alt="")
            .user-profile-info
                h3 @#{user.username}
                p #{user.firstname} #{user.lastname}
            .user-profile-actions 
                a(href="#" class="btn btn-primary") Follow
            .user-profile-data 
                .user-profile-data-posts
                    p Posts
                    p= tweets.length
                .user-profile-data-followers 
                    p Followers 
                    p 5
                .user-profile-data-following 
                    p Following 
                    p 5

    .tweets-user-container
        .tweets-user-list 
            if tweets 
                each tweet in tweets
                    include ../includes/tweet-card.pug